body {
    background-color: #efefef;
}

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
    }

h1 {
    color: black;
    text-align: center;
    font-family: courier;
}
h2 {
    font-family: courier;
}
p {
    color: black;
    font-family: courier;
}

ul {
    width: 770px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    font-family: 'Slabo 15px', serif;
    font-size:82%;
    letter-spacing: .12em;
    text-align: center;
    
}
li {
    display: inline;
    margin: 0px 3px;
    
li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    
}    
