body {
    background-color: white;
}
h1 {
    color: black;
    text-align: center;
    font-family: courier;
}
h2 {
    font-family: courier;
}
h3 {
    font-family: courier;
}
p {
    color: black;
    font-family: courier;
}
