body {
    background-color: #ffffff;
}

div {
    font-size:20px;
}

.container {
 width: 80%;
 margin: 60px auto;
 overflow: hidden;
}


.galleryItem {
 color: #797478;
 float: left;
 
 width: 16%;
 margin:  2% 2% 50px 2%;    
} 
 
.galleryItem h3 {
 text-transform: uppercase;
}
 
.galleryItem img {
 max-width: 100%;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

/* MEDIA QUERIES*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
 .galleryItem {width: 21%;}
}
 
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
 .galleryItem {width: 29.33333%;}
}
 
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
 .galleryItem {width: 46%;}
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
 .galleryItem {width: 96%;}
 .galleryItem img {width: 96%;}
 .galleryItem h3 {font-size: 18px;}
 .galleryItem p, {font-size: 18px;}
}

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px solid #000;
    border-radius: 25px;
    background-color: #ffffff;
    }
h1 {
    color: black;
    text-align: center;
    font-family: Gill Sans MT;
}
h2 {
    font-family: Gill Sans MT;
}
h3 {
    font-family: Gill Sans MT;
}
p {
    color: black;
    font-family: Gill Sans MT;
    text-align: left;
}

ul {
    width: 900px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-bottom: 4px solid #000;
    text-align: center;
    
}
li {
    display: inline;
    margin: 0px 3px;
    
li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    
}    
