body {
    background-color: #ffffff;
}

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px solid #000;
    border-radius: 25px;
    background-color: #ffffff;
    }

h1 {
    color: black;
    text-align: center;
    font-family: Gill Sans MT;
}
h2 {
    font-family: Gill Sans MT;
}
h3 {
    font-family: Gill Sans MT;
}
p {
    color: black;
    font-family: Gill Sans MT;
    text-align: left;
}

ul {
    width: 900px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-bottom: 4px solid #000;
    text-align: center;
    
}
li {
    display: inline;
    margin: 0px 3px;
    
li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    
}    
